<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModelFliplloContainer" connectionString="metadata=res://*/ModelFlipllo.csdl|res://*/ModelFlipllo.ssdl|res://*/ModelFlipllo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CESARHDEZAP;initial catalog=BDFlipllo;user id=fliplloserver;password=qwerasdfzxcv;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>