################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Flipllo
/FliplloCliente/InterfazGrafica
/FliplloCliente/LogicaDeNegocios
/FliplloCliente/Recursos_en-US
/FliplloCliente/Recursos_es-MX
/FliplloCliente/.vs/FliplloCliente/v16/Server/sqlite3/storage.ide-shm
/FliplloCliente/.vs/FliplloCliente/v16/Server/sqlite3/storage.ide-wal
