<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAdministradorDeUsuarios">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.50.96:8091/ServiciosDeComunicacion"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdministradorDeUsuarios"
                contract="ServiciosDeComunicacion.IAdministradorDeUsuarios"
                name="NetTcpBinding_IAdministradorDeUsuarios" />
        </client>
    </system.serviceModel>
</configuration>