<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <add name="ModelFliplloContainer"
      connectionString="metadata=res://*/ModelFlipllo.csdl|res://*/ModelFlipllo.ssdl|res://*/ModelFlipllo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CESARHDEZAP;initial catalog=BDFlipllo;user id=fliplloserver;password=qwerasdfzxcv;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          
          <!--<serviceCredentials>
            --><!--Aqui quite client certificate--><!--
            
            <serviceCertificate findValue="miCertificado" 
                                storeLocation="LocalMachine"
                                storeName="My" 
                                x509FindType="FindBySubjectName"/>
          </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>

		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IServiciosDeFlipllo" closeTimeout="00:20:00"
                 receiveTimeout="00:20:00" 
                 sendTimeout="00:20:00" 
                 maxBufferPoolSize="2147483647"
					       maxReceivedMessageSize="2147483647" 
                 maxBufferSize="2147483647"
                 transactionFlow="true">
          
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
				</binding>
			</netTcpBinding>
		</bindings>

    <services>
      <service name="ServiciosDeComunicacion.Servicios.ServiciosDeFlipllo" behaviorConfiguration="mexBehavior">

        <endpoint address="ServiciosDeComunicacion.ServiciosDeFlipllo"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_IServiciosDeFlipllo"
                  contract="ServiciosDeComunicacion.Interfaces.InterfacesDeServiciosDeFlipllo.IServiciosDeFlipllo"/>

        
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.43.114:8081/ServiciosDeFlipllo"/>
            <add baseAddress="net.tcp://192.168.43.114:8091/ServiciosDeFlipllo"/>
          </baseAddresses>
        </host>
      </service>

      <service name="ServiciosDeComunicacion.Servicios.ServiciosDeJuego" behaviorConfiguration="mexBehavior">

        <endpoint address="ServiciosDeComunicacion.ServiciosDeJuego"
                  binding ="netTcpBinding"
                  bindingConfiguration ="NetTcpBinding_IServiciosDeFlipllo"
                  contract="ServiciosDeComunicacion.Interfaces.InterfacesDeServiciosDeJuego.IServiciosDeJuego"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.43.114:8081/ServiciosDeJuego"/>
            <add baseAddress="net.tcp://192.168.43.114:8091/ServiciosDeJuego"/>
          </baseAddresses>
        </host>
      </service>
      
    </services>
  </system.serviceModel>